:host {
	display: flex;
	overflow: auto;
}

[mat-header-row] {
	max-height: 70px; /* Adjust the maximum height as needed */
	overflow: hidden; /* Hide overflowing content */
	/* Optional: Add ellipsis for truncated text */
	text-overflow: ellipsis;
	white-space: nowrap; /* Prevent text from wrapping */
}
	:host {
		width: 100%;
	}

mat-form-field {
	width: inherit;
}

.mat-column-mwst {
	max-width: 80px;
}

.mat-column-notiz {
	max-width: 150px;
}

.mat-column-kategorie {
	max-width: 200px;
}

.mat-column-verf,
.mat-column-bestellnummer,
.mat-column-name,
.mat-column-produzent,
.mat-column-herkunft,
.mat-column-einheit,
.mat-column-nettopreis,
.mat-column-pfand,
.mat-column-gebindegr,
.mat-column-geschuetzt1,
.mat-column-geschuetzt2 {
	max-width: 80px;
	line-break: normal;
	word-break: break-word; /* For content in headers */
	overflow-wrap: break-word; /* For content in cells */
}
