<table mat-table [dataSource]="dataSource">
	<ng-container matColumnDef="verf">
		<th *matHeaderCellDef mat-header-cell>verf</th>
		<td *matCellDef="let element" mat-cell>
			<mat-checkbox (change)="onInputChange('verf', $event)" [checked]="element.verf"></mat-checkbox>
		</td>
	</ng-container>

	<ng-container matColumnDef="bestellnummer">
		<th *matHeaderCellDef mat-header-cell>Bestellnummer</th>
		<td *matCellDef="let element" mat-cell> ... </td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th *matHeaderCellDef mat-header-cell>Name</th>
		<td *matCellDef="let element" mat-cell> ... </td>
	</ng-container>

	<ng-container matColumnDef="notiz">
		<th *matHeaderCellDef mat-header-cell>Notiz</th>
		<td *matCellDef="let element" mat-cell>
			<mat-form-field [subscriptSizing]="'fixed'">
				<input matInput (input)="onInputChange('notiz', $event)" [value]="element.notiz" type="text" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container matColumnDef="produzent">
		<th *matHeaderCellDef mat-header-cell>Produzent</th>
		<td *matCellDef="let element" mat-cell> ... </td>
	</ng-container>

	<ng-container matColumnDef="herkunft">
		<th *matHeaderCellDef mat-header-cell>Herkunft</th>
		<td *matCellDef="let element" mat-cell> ... </td>
	</ng-container>

	<ng-container matColumnDef="einheit">
		<th *matHeaderCellDef mat-header-cell>Einheit</th>
		<td *matCellDef="let element" mat-cell> ... </td>
	</ng-container>

	<ng-container matColumnDef="nettopreis">
		<th *matHeaderCellDef mat-header-cell>Nettopreis</th>
		<td *matCellDef="let element" mat-cell> ... </td>
	</ng-container>

	<ng-container matColumnDef="mwst">
		<th *matHeaderCellDef mat-header-cell>MwSt</th>
		<td *matCellDef="let element" mat-cell>
			<mat-form-field [subscriptSizing]="'fixed'">
				<input matInput (input)="onInputChange('mwst', $event)" [value]="element.mwst" />
			</mat-form-field>
		</td>
	</ng-container>

	<ng-container matColumnDef="pfand">
		<th *matHeaderCellDef mat-header-cell>Pfand</th>
		<td *matCellDef="let element" mat-cell> ... </td>
	</ng-container>

	<ng-container matColumnDef="gebindegr">
		<th *matHeaderCellDef mat-header-cell>Gebindegröße</th>
		<td *matCellDef="let element" mat-cell> ... </td>
	</ng-container>

	<ng-container matColumnDef="geschuetzt1">
		<th *matHeaderCellDef mat-header-cell>Geschuetzt1</th>
		<td *matCellDef="let element" mat-cell> &nbsp; </td>
	</ng-container>

	<ng-container matColumnDef="geschuetzt2">
		<th *matHeaderCellDef mat-header-cell>Geschuetzt2</th>
		<td *matCellDef="let element" mat-cell> &nbsp; </td>
	</ng-container>

	<ng-container matColumnDef="kategorie">
		<th *matHeaderCellDef mat-header-cell>Kategorie</th>
		<td *matCellDef="let element" mat-cell>
			<mat-form-field [subscriptSizing]="'fixed'">
				<input matInput (input)="onInputChange('kategorie', $event)" [value]="element.kategorie" type="text" />
			</mat-form-field>
		</td>
	</ng-container>

	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
