:host {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.searchUrl,
.searchInput,
.col {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	width: 100%;
}
mat-form-field {
	margin: 8px;
}
.searchUrl mat-form-field {
	width: 100%;
}
mat-form-field.bersta-no {
	width: 150px;
}
.debug {
	margin-left: auto;
}
@media screen and (max-width: 400px) {
	.searchInput {
		flex-flow: wrap;
		& mat-form-field {
			width: 100%;
		}
	}
	.debug {
		margin-block-end: 8px;
	}
}
