<div class="field-input">
	<mat-form-field subscriptSizing="dynamic">
		<mat-label>Ganze Excel Zeile mit Tab-Stopps</mat-label>
		<textarea
			#autosize="cdkTextareaAutosize"
			matInput
			cdkTextareaAutosize
			cdkAutosizeMinRows="1"
			cdkAutosizeMaxRows="5"
			[(ngModel)]="excelRow"
			[disabled]="berstaStore.disableQuery4Details()"
		></textarea>
	</mat-form-field>
</div>
<div>
	<div class="footer-1">
		<button mat-raised-button (click)="transferInput()" [disabled]="berstaStore.disableQuery4Details()"
			>Übernehmen</button
		>
		@if (cols4Excel.length > 0) {
			Spalten: {{ cols4Excel.length }}
			@if (cols4Excel.length >= 14) {
				<mat-icon>verified</mat-icon>
			<span>Daten können automatisch übernommen werden</span>

			}
		}
	</div>
</div>
{{ diffLabel() }}

@if (calcEnheitsPreisPlusMwst().label) {
	<div
		>{{ calcEnheitsPreisPlusMwst().label }}
		<span class="diff">
			{{ calcEnheitsPreisPlusMwst().preis }}
		</span>
	</div>
}
<div>{{ detailSearchResult() }}</div>
