@use '@angular/material' as mat;

mat-card {
	max-width: 400px;
}
mat-form-field {
	//min-width: 400px;
	width: 100%;
}

mat-card-actions {
	display: flex;
	justify-content: space-between;
	align-self: center;
	width: 100%;

	.login-message {
		display: flex;
	}
}

.mat-icon-warning {
	color: mat.m2-get-color-from-palette(mat.$m2-pink-palette, 600);
}
