<mat-card>
	<mat-card-content>
		<form [formGroup]="formGroup">
			<p>
				<mat-form-field>
					<mat-label>Username</mat-label>
					<input formControlName="username" matInput (keydown.enter)="login()" type="text" />
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<mat-label>Password</mat-label>
					<input formControlName="password" matInput (keydown.enter)="login()" [type]="showPWD ? 'text' : 'password'" />
					<button mat-icon-button matSuffix (click)="toggleVisibility(); $event.preventDefault()">
						<mat-icon>{{ showPWD ? 'visibility' : 'visibility_off' }}</mat-icon>
					</button>
				</mat-form-field>
			</p>
		</form>
	</mat-card-content>
	<mat-card-actions [class.loginSuccess]="berstaSignalStore.isLogggedIn()" align="start">
		<button mat-raised-button matRipple (click)="login()">Log in </button>
    @if (berstaSignalStore.isLogggedIn()) {
      <div> Logged in 🎉 </div>
    }
	</mat-card-actions>
</mat-card>
