:host{
  margin: 8px;
  display: flex;
  height: 100%;
  overflow: auto;
}
.bersta-row-is-clicked {
  font-weight: bold;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
